
Traibanhoa/Repository/obj/Debug/net5.0/Repository.csproj.AssemblyReference.cache
*.cache
Traibanhoa/Traibanhoa/obj/Traibanhoa.csproj.nuget.g.props
Traibanhoa/Traibanhoa/obj/project.nuget.cache
Traibanhoa/Traibanhoa/obj/project.assets.json
Traibanhoa/Traibanhoa/obj/Debug/net5.0/Traibanhoa.csproj.AssemblyReference.cache
Traibanhoa/Traibanhoa/obj/Debug/net5.0/Traibanhoa.assets.cache
Traibanhoa/Repository/obj/Debug/net5.0/Repository.csproj.AssemblyReference.cache
Traibanhoa/Models/obj/Debug/net5.0/Models.csproj.AssemblyReference.cache
Traibanhoa/.vs/Traibanhoa/FileContentIndex/e24b170a-930e-4478-8d0c-2ae437466c1f.vsidx
Traibanhoa/.vs/Traibanhoa/FileContentIndex/4533b4d1-3be0-4242-a131-4398491c02a5.vsidx
Traibanhoa/.vs/Traibanhoa/FileContentIndex/452c6c02-8195-4c4b-9f72-083d36a4ba6e.vsidx
Traibanhoa/.vs/Traibanhoa/FileContentIndex/2058e7d4-2655-4310-8e0b-3a3f7b0bf446.vsidx
